<div class="banner">
    <img class="banner-image" src="/img/banner.png" alt="banner.png">
    <div class="banner-display-text">
        <p class="our-meal"><b>Our meal packages</b></p>
    </div>
</div>

<div class="top-dish">
    <p class="title"><b>Pick a package, choose your meals, achieve your goal.</b></p>
</div>

<div class="item-container">
    {{#each data}}

    <div class="item-card">
        <div class="item-photo">
            <a href="/package/description?name={{this.name}}" class="package-description">
            <img src="{{this.url}}" alt="">
            </a>
        </div>

        <div class="item-info">
            <p class="name"><b>{{this.name}}</b></p>
            {{!-- <p>{{this.desc}}</p> --}}
            <p class="price"><b>${{this.price}}</b></p>
        </div>
    </div>
    {{/each}}
</div>